/****************************************************************
*****************************************************************

	StyleSheet

*****************************************************************
*****************************************************************
****************************************************************/

/*
 *	Base CSS
 *
 ****************************************/

/*.inner{
	max-width:108em;
	padding: 2em;
	margin: auto;
}*/

body {
	margin: 0;
}


/*
 *	Particles
 *
 ****************************************/

#pword-container{
	position : absolute;
	height: 100vh;
	width: 100%;
}

#particles-controller{
	font-size: 3em;
	font-family: "Roboto-T";
	height: 100px;
	width: 1000px;
	position : absolute;
	top:0;
	left: 0;
	z-index: 200;
}

#particles-controller:hover{
	cursor: pointer;
}